/*Tipo de letra*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*Globales*/
:root{
  --principal: #4372e7;
  --secundario: #696969;
  --blanco: #ffffff;
  --oscuro: #212121;
  --fuentes: "Roboto", sans-serif; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentes);
  font-size: 16px;
}

.sombra {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.5);
  -moz-box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.5);
  box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.5);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}


/*Tipografía*/
h1 {
  font-size: 3.8rem;
  padding: 2.5rem;
  margin-top: 0%;
  margin-bottom: 0%;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,h2,h3 {
  text-align: center;
}

p {
  font-size: 1.5rem;
}



/*Barra de navegación*/
.nav-bar {
  font-family: var(--fuentes);
  background-color: var(--secundario);
}

.nav-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

@media (min-width: 768px) {
    .nav-principal{
      flex-direction: row;
      justify-content: space-between;
    }
}

.nav-principal a:hover {
  background-color: var(--principal);
  color: var(--oscuro);
}


.nav-contenedor{
  max-width: 80rem;
  margin: 0 auto /*0 auto*/;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto /*0 auto*/;
}

/*Datos obtenidos*/

.datos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.datos-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

